@model BlogSystem.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Nikolay Kostov's Blog";
}

@section breadcrumbs {
    <li><a href="/">Home</a></li>
}

<div class="blog margin-bottom-40">

@if (Model.Posts.Count() > 0)
{
    foreach (var post in Model.Posts)
    {
        <h2><a href="@post.Url">@post.Title</a></h2>
        <div class="blog-post-tags">
            <ul class="list-unstyled list-inline blog-info">
                <li><i class="fa fa-calendar"></i> @post.CreatedOn.ToString("MMMM dd, yyyy")</li>
                <li><i class="fa fa-pencil"></i> Nikolay Kostov</li>
                <li><i class="fa fa-comments"></i> <a href="#">Comments not allowed</a></li>
            </ul>
            <ul class="list-unstyled list-inline blog-tags">
                <li>
                    <i class="fa fa-tags"></i>
                    <a href="#">Technology</a>
                    <a href="#">Education</a>
                    <a href="#">Internet</a>
                    <a href="#">Media</a>
                </li>
            </ul>
        </div>
        if (post.ImageOrVideoUrl != null)
        {
            <div class="blog-img">
                @if (post.ImageOrVideoUrl.Contains("youtube.com"))
                {
                    <div class="responsive-video">
                        <iframe src="@post.ImageOrVideoUrl" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                }
                else
                {
                    <img src="@post.ImageOrVideoUrl" alt="@post.Title" />
                }
            </div>
        }

        @Html.Raw(post.Content)

        <p><a class="btn-u btn-u-small" href="@post.Url"><i class="fa fa-plus"></i> Read More</a></p>
    }
}
else
{
    <h2>Sorry, nothing here.</h2>
}
</div>

@if (Model.PagesCount > 0)
{
    <!--Pagination-->
    <div class="text-center">
        <ul class="pagination">
            <li><a href="/?page=@Model.PreviousPage"><i class="fa fa-backward"></i></a></li>
            @for (int i = 1; i <= Model.PagesCount; i++)
            {
                if (i == Model.CurrentPage)
                {
                    <li class="active"><a href="/?page=@i">@i</a></li>
                }
                else
                {
                    <li><a href="/?page=@i">@i</a></li>
                }
            }
            <li><a href="/?page=@Model.NextPage"><i class="fa fa-forward"></i></a></li>
        </ul>
    </div>
    <!--End Pagination-->
}