@using System.Net
@using BlogSystem.Common
@using Microsoft.AspNetCore.Http.Extensions
@model BlogSystem.Web.ViewModels.Blog.BlogPostViewModel

@{
    ViewBag.Title = Model.Title;
}

@*@section breadcrumbs {
        <li><a href="/">Home</a></li>
        <li><a href="/Blog">Blog</a></li>
        <li><a href="/Blog/@(Model.CreatedOn.Year.ToString("0000"))">@Model.CreatedOn.Year.ToString("0000")</a></li>
        <li><a href="/Blog/@(Model.CreatedOn.Year.ToString("0000"))/@(Model.CreatedOn.Month.ToString("00"))">@(Model.CreatedOn.Month.ToString("00"))</a></li>
        <li class="active">Post</li>
    }*@

<div class="blog margin-bottom-40">
    @*<h2>@Model.SubTitle</h2>*@
    <div class="blog-post-tags">
        <ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i> @Model.CreatedOn.ToString("MMMM dd, yyyy")</li>
            <li><i class="fa fa-pencil-alt"></i> @GlobalConstants.SiteAuthor</li>
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li><i class="fa fa-pencil-alt"></i> <a href="/Administration/BlogPosts/Edit/@Model.Id">Edit</a></li>
            }
        </ul>
        @*<ul class="list-unstyled list-inline blog-tags">
                <li>
                    <i class="fa fa-tags"></i>
                    <a href="#">Technology</a>
                    <a href="#">Education</a>
                    <a href="#">Internet</a>
                    <a href="#">Media</a>
                </li>
            </ul>*@
    </div>
    @Html.Raw(Model.Content)
    <br />
    <div id="social-button-sharer">
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet">Tweet</a>
        <script>
            window.twttr = (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0],
                    t = window.twttr || {};
                if (d.getElementById(id)) return t;
                js = d.createElement(s);
                js.id = id;
                js.src = "https://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
                t._e = [];
                t.ready = function (f) {
                    t._e.push(f);
                };
                return t;
            }(document, "script", "twitter-wjs"));
        </script>

        <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0&appId=155172444599081&autoLogAppEvents=1"></script>
        <div class="fb-share-button" data-href="@this.Context.Request.GetDisplayUrl()" data-layout="button_count" data-size="small">
            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@WebUtility.UrlEncode(this.Context.Request.GetDisplayUrl())&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
        </div>
    </div>
</div>
