@model SidebarViewModel

@*<!-- Search Bar -->
    <div class="headline headline-md"><h2>Search</h2></div>
    <div class="input-group margin-bottom-40">
        <input type="text" class="form-control" placeholder="Search">
        <span class="input-group-btn">
            <button class="btn-u" type="button">Go</button>
        </span>
    </div>
    <!-- End Search Bar -->*@

<!-- Social Bar -->
<div class="headline headline-md">
    <h2>Social?</h2>
</div>
<ul class="list-unstyled blog-photos margin-bottom-30">
    <li><a href="@ViewBag.Settings.Get["GitHub Profile"]" target="_blank"><i class="fa fa-github hover-effect"></i></a></li>
    <li><a href="@ViewBag.Settings.Get["Stack Overflow Profile"]" target="_blank"><i class="fa fa-stack-overflow hover-effect"></i></a></li>
    <li><a href="@ViewBag.Settings.Get["Linked In Profile"]" target="_blank"><i class="fa fa-linkedin-square hover-effect"></i></a></li>
    <li><a href="mailto:@ViewBag.Settings.Get["Contact Email"]" target="_blank"><i class="fa fa-envelope hover-effect"></i></a></li>
    <li><a href="@ViewBag.Settings.Get["Facebook Profile"]" target="_blank"><i class="fa fa-facebook-square hover-effect"></i></a></li>
    <li><a href="@ViewBag.Settings.Get["Foursquare Profile"]" target="_blank"><i class="fa fa-foursquare hover-effect"></i></a></li>
    <li><a href="@ViewBag.Settings.Get["Google Profile"]" target="_blank"><i class="fa fa-google-plus-square hover-effect"></i></a></li>
    <li><a href="@ViewBag.Settings.Get["RSS Url"]" target="_blank"><i class="fa fa-rss-square hover-effect"></i></a></li>
</ul>
<!-- End Social -->
<!-- GitHub Badge -->
<div class="headline headline-md">
    <h2>Me @@GitHub</h2>
</div>
@Html.Raw(ViewBag.Settings.Get["GitHub Badge HTML Code"])
<!-- End GitHub Badge -->
<!-- StackOverflow Badge -->
@if (ViewBag.Settings.Get.ContainsKey("StackOverflow Badge HTML Code"))
{
    <div class="headline headline-md">
        <h2>Me @@StackOverflow</h2>
    </div>
    @Html.Raw(ViewBag.Settings.Get["StackOverflow Badge HTML Code"])
}
<!-- End StackOverflow Badge -->
<!-- Posts -->
<div class="posts margin-bottom-40">
    <div class="headline headline-md">
        <h2>Recent Posts</h2>
    </div>
    @foreach (RecentBlogPostViewModel post in Model.RecentPosts)
    {
        <dl class="dl-horizontal">
            <dt><a href="@post.Url"><i class="fa @post.IconClass"></i></a></dt>
            <dd>
                <p>
                    <a href="@post.Url">@post.Title</a>
                </p>
            </dd>
        </dl>
    }
</div>

<!-- Videos -->
<div class="posts margin-bottom-40">
    <div class="headline headline-md">
        <h2>Recent Videos</h2>
    </div>
    @foreach (BlogSystem.Web.ViewModels.Videos.VideoListItemViewModel video in Model.RecentVideos)
    {
        <dl class="dl-horizontal">
            <dt><a href="@video.VideoUrl"><i class="fa fa-youtube-play"></i></a></dt>
            <dd>
                <p>
                    <a href="@video.VideoUrl">@video.Title</a>
                </p>
            </dd>
        </dl>
    }
</div>

<!-- End Posts -->
@*<!-- Blog Tags -->
    <div class="headline headline-md"><h2>Blog Tags</h2></div>
    <ul class="list-unstyled blog-tags margin-bottom-30">
        @foreach (TagViewModel tag in Model.Tags)
        {
            <li><a href="#"><i class="fa fa-tags"></i> @tag.Name (@tag.PostsCount)</a></li>
        }
    </ul>
    <!-- End Blog Tags -->*@
