@model BlogSystem.Web.ViewModels.Blog.BlogPostViewModel

@{
    ViewBag.Title = Model.Title;
    const string CommentsPartialViewsFolder = "~/Views/Comments/{0}.cshtml";
}

@*@section breadcrumbs {
        <li><a href="/">Home</a></li>
        <li><a href="/Blog">Blog</a></li>
        <li><a href="/Blog/@(Model.CreatedOn.Year.ToString("0000"))">@Model.CreatedOn.Year.ToString("0000")</a></li>
        <li><a href="/Blog/@(Model.CreatedOn.Year.ToString("0000"))/@(Model.CreatedOn.Month.ToString("00"))">@(Model.CreatedOn.Month.ToString("00"))</a></li>
        <li class="active">Post</li>
    }*@

<!--Blog Post-->
<div class="blog margin-bottom-40">
    @*<h2>@Model.SubTitle</h2>*@
    <div class="blog-post-tags">
        <ul class="list-unstyled list-inline blog-info">
            <li><i class="fa fa-calendar"></i> @Model.CreatedOn.ToString("MMMM dd, yyyy")</li>
            <li><i class="fa fa-pencil"></i> @ViewBag.Settings.Get["Author"]</li>
            <li><i class="fa fa-comments"></i> <a href="#comments">Comments</a></li>
            @if (User.IsAdmin())
            {
                <li><i class="fa fa-pencil"></i> <a href="/Administration/BlogPosts/Edit/@Model.Id">Edit</a></li>
            }
        </ul>
        @*<ul class="list-unstyled list-inline blog-tags">
                <li>
                    <i class="fa fa-tags"></i>
                    <a href="#">Technology</a>
                    <a href="#">Education</a>
                    <a href="#">Internet</a>
                    <a href="#">Media</a>
                </li>
            </ul>*@
    </div>
    @Html.Raw(Model.Content)
    <br />
    <div id="social-button-sharer">
        <div>
            <a href="https://twitter.com/share" class="twitter-share-button">Tweet</a>
            <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
        </div>
        <div class="fb-share-button" data-href="@Request.Url" data-type="button_count"></div>
    </div>
</div>
<!--End Blog Post-->
<!--Start Comments-->
@Html.Partial(string.Format(CommentsPartialViewsFolder, "_Comments"), Model.Id)
