@using BlogSystem.Common
@model BlogSystem.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = GlobalConstants.SystemName;
}

@if (Model.Posts.Any())
{
    foreach (var post in Model.Posts)
    {
        <article class="blog-post">
            <h2 class="blog-post-title"><a href="@post.Url">@post.Title</a></h2>
            <div class="blog-post-meta">
                <span class="me-3"><i class="fa fa-calendar"></i> @post.CreatedOn.ToString("MMMM dd, yyyy")</span>
                <span><i class="fa fa-pencil-alt"></i> @GlobalConstants.SiteAuthor</span>
            </div>
            <partial name="_ImageOrVideo" model="post" />
            <div class="blog-post-content">
                @Html.Raw(post.Content)
            </div>
            <p class="mt-3"><a class="btn btn-accent btn-sm" href="@post.Url"><i class="fa fa-plus"></i> Read More</a></p>
        </article>
    }
}
else
{
    <h2>Sorry, nothing here.</h2>
}

@if (Model.PagesCount > 1)
{
    var windowStart = Math.Max(1, Model.CurrentPage - 2);
    var windowEnd = Math.Min(Model.PagesCount, Model.CurrentPage + 2);

    <nav aria-label="Blog pages" class="mt-4">
        <ul class="pagination justify-content-center mb-0">
            <li class="page-item"><a class="page-link" href="/?page=@Model.PreviousPage" aria-label="Previous"><i class="fa fa-backward"></i></a></li>
            @if (windowStart > 1)
            {
                <li class="page-item"><a class="page-link" href="/?page=1">1</a></li>
                if (windowStart > 2)
                {
                    <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
                }
            }
            @for (int i = windowStart; i <= windowEnd; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : string.Empty)"><a class="page-link" href="/?page=@i">@i</a></li>
            }
            @if (windowEnd < Model.PagesCount)
            {
                if (windowEnd < Model.PagesCount - 1)
                {
                    <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
                }
                <li class="page-item"><a class="page-link" href="/?page=@Model.PagesCount">@Model.PagesCount</a></li>
            }
            <li class="page-item"><a class="page-link" href="/?page=@Model.NextPage" aria-label="Next"><i class="fa fa-forward"></i></a></li>
        </ul>
    </nav>
}
