<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <title>@ViewBag.Title - @ViewBag.Settings.Get["Home Title"]</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="1 days" />
    <meta name="author" content="@ViewBag.Settings.Get["Author"]" />
    <meta name="generator" content="Nikolay.IT BlogSystem - https://github.com/NikolayIT/BlogSystem" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="alternate" type="application/rss+xml" title="Blog RSS" href="/RSS/Blog" />
    @Styles.Render("~/Content/css")
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51720358-1', 'bgcoder.com');
        ga('send', 'pageview');
    </script>
</head>

<body class="boxed-layout container">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=290972921054347&version=v2.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <div class="wrapper">
        <header class="header">
            <div class="row">
                <div class="col-md-6">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <img id="logo-header" src="@ViewBag.Settings.Get["Logo URL"]" width="450" alt="Logo">
                        </a>
                    </div>
                </div>

                <div class="navbar navbar-default col-md-6" role="navigation">
                    <div class="topbar">
                        @Html.Partial("_LoginPartial")
                    </div>
                    <div class="clearfix"></div>
                    <nav class="collapse navbar-collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            @Html.Action("Menu", "Home", routeValues: new { Area = string.Empty })
                            @if (User.IsAdmin())
                            {
                                @Html.Action("Menu", "Admin", routeValues: new { Area = "Administration" })
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">@ViewBag.Title</h1>
                @if (IsSectionDefined("breadcrumbs"))
                {
                    <ul class="pull-right breadcrumb">
                        @RenderSection("breadcrumbs", false)
                    </ul>
                }
            </div>
        </div>

        <div class="container content">
            <div class="row blog-page">
                <div class="col-md-9">
                    @RenderBody()
                </div>

                <!-- Right Sidebar -->
                <aside class="col-md-3 magazine-page">
                    @Html.Action("Index", "Sidebar", routeValues: new { area = string.Empty })
                </aside>
                <!-- End Right Sidebar -->
            </div>
        </div>

        <footer class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; 2011-@DateTime.Now.Year <strong>@ViewBag.Settings.Get["Blog Name"]</strong> Brought to you by <a href="https://www.google.com/search?q=Magic+Unicorns&tbm=isch" target="_blank"><i class="fa fa-magic"></i>Magic Unicorns</a></p>
                    </div>
                    <div class="col-md-6">
                        <p class="pull-right"><a href="https://github.com/NikolayIT/BlogSystem" target="_blank"><i class="fa fa-github"></i>Open Source System <i class="fa fa-smile-o"></i></a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/global")
    @RenderSection("scripts", required: false)
</body>
</html>
