<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<head>
    <title>@ViewBag.Title - Nikolay.IT Blog</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="@ViewBag.Keywords" />
    <meta name="description" content="@ViewBag.Description" />
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="1 days" />
    <meta name="author" content="Nikolay.IT - Nikolay Kostov" />
    <meta name="generator" content="NikolayIT BlogSystem - https://github.com/NikolayIT/BlogSystem" />
    <link rel="shortcut icon" href="/favicon.ico" />
    @Styles.Render("~/Content/css")
</head>

<body class="boxed-layout container">
    <div class="wrapper">
        <header class="header">
            <div class="topbar">
                <div class="container">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>

            <div class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <img id="logo-header" src="/img/header-logo.png" alt="Logo">
                        </a>
                    </div>

                    <nav class="collapse navbar-collapse navbar-responsive-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/Pages/About-me">About me</a></li>
                            <li><a href="/Pages/Contacts">Contacts</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        
        <div class="breadcrumbs">
            <div class="container">
                <h1 class="pull-left">@ViewBag.Title</h1>
                @if (IsSectionDefined("breadcrumbs"))
                {
                    <ul class="pull-right breadcrumb">
                        @RenderSection("breadcrumbs", false)
                    </ul>
                }
            </div>
        </div>
        
        <div class="container content">
            <div class="row blog-page">
                <div class="col-md-9">
                    @RenderBody()
                </div>

                <!-- Right Sidebar -->
                <aside class="col-md-3 magazine-page">
                    @Html.Partial("_SidebarPartial")
                </aside>
                <!-- End Right Sidebar -->
            </div>
        </div>

        <footer class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; 2011-@DateTime.Now.Year <strong><a href="http://nikolay.it">Nikolay.IT</a></strong> Brought to you by <a href="https://www.google.com/search?q=Magic+Unicorns&tbm=isch" target="_blank"><i class="fa fa-magic"></i> Magic Unicorns</a></p>
                    </div>
                    <div class="col-md-6">
                        <p class="pull-right"><a href="https://github.com/NikolayIT/BlogSystem" target="_blank"><i class="fa fa-github"></i> Open Source System <i class="fa fa-smile-o"></i></a></p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    <script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-25135627-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
    </script>
</body>
</html>
