@model BlogSystem.Data.Models.Feed

@{
    ViewData["Title"] = "Delete";
}

<h3>Are you sure you want to delete this feed?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsEnabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsEnabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItemsSelector)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItemsSelector)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cookies)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cookies)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostData)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostData)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UrlRegexFilter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UrlRegexFilter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameRegexFilter)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameRegexFilter)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastUpdate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastUpdate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateIntervalInMinutes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateIntervalInMinutes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotifyByEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotifyByEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModifiedOn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
