@model IEnumerable<BlogSystem.Web.ViewModels.Administration.Feeds.FeedViewModel>

@{
    ViewData["Title"] = "Feeds";
    ViewData["SkipSidebar"] = true;
}

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table table-striped table-bordered table-condensed table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemsCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateIntervalInMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotifyByEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastItemOn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href="@item.Url" target="_blank">@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemsCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateIntervalInMinutes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotifyByEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastItemOn)
                </td>
                <td>
                    <a asp-controller="FeedItems" asp-action="Index" asp-route-id="@item.Id">All</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
